body {
        margin: 0;
        padding: 0;
        background-color: black;
        overflow: hidden;
      }

      .start-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        cursor: pointer;
      }

      .start-icon img {
        width: 150px;
        height: 150px;
        object-fit: contain;
      }

      /* Grille (cachée au début) */
      .wrapper {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease;
      }

      .wrapper.show {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        height: 70vh;
      }

      .wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        z-index: 50;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        height: 70vh;
        width: calc(70vh);
      }

      .grid img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease;
      }

      /* Animation d'apparition */
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translate(-50%, -50%) scale(0.9);
        }
        to {
          opacity: 1;
          transform: translate(-50%, -50%) scale(1);
        }
      }

      .wrapper.show {
        animation: fadeIn 0.5s ease;
      }